body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(145, 99, 188);
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text{
    padding-left: 50px;
}