body{
    padding: 0px;
    margin: 0px;

    background-color: rgb(80, 80, 179);
    
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text{
    padding-left: 50px;
}