body{
    padding: 0px;
    margin: 0px;

    background-color: pink;
    
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text{
    padding-left: 50px;
}
@page 
{
    size: A4 portrait;
    margin: 10mm;
}
@media print
{
    body
    {
        width: 100%;
    }
}