body
{
    padding: 0px;
    margin: 0px;
    background-color: rgb(21, 193, 135) ;
}
.contact-container
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-right
{
    width: 40%;
    background: #f8f8f8;
    padding: 20px 30px;
    border-radius: 10px;
    border-left: 5px solid #4CAF50;
}
.contact-right h1{
    margin-bottom: 15px;
    color: #222;
}
.contact-right p
{
    font-size: 18px;
    margin: 10px 0;
}
.contact-right a
{
    color: blue;
    text-decoration: none;
}
.contact-right a:hover
{
text-decoration: underline;
}
    
