body
{
    padding: 0px;
    margin: 0px;
    background-color:rgb(128, 128, 181);
}
.more-section
{
    padding: 40px;
    padding-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.more-section h1{
    font-size: 32px;
    margin-bottom: 20px;
    color: #222;
}
.more-card
{
    background: #f8f8f8;
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #2196F3;
    border-radius: 8px;
    width: 70%;
}
.more-card h2{
    margin: 0 0 10px 0;
    color: #333;
}
.more-card ul{
    margin: 0;
    padding-left: 20px;
} 
.more-card ul li{
    margin: 6px 0;
    color: #555;
    font-size: 16px;
}
.b1
{
   border-radius: 10px solid;
   background-color: #2196F3;
   
}
.b1:hover
{
    cursor: pointer;
    
}