*
{
    padding: 0px;
    margin: 0px;
    color: white;
    
}
body{
    background:linear-gradient(135deg,#667eea,#764ba2);

}
body .header
{
    display: flex;
    margin-top: 20px;
    
}
.header .left{
    padding-left: 60px;
}
.header .left h4
{
    display: inline-block;
    padding-left: 30px;
}
.header .left h4:hover
{
   cursor: pointer;
   text-decoration: underline; 
   
   
}
.header .right
{
    padding-left: 300px;
}
.header .right button{
    background-color: rgb(74, 58, 162);
    border: none;
    border: 1px solid white;
    padding: 10px;
    width: 200px;
    text-align: center;
}
.header .right button:hover
{
    cursor: pointer;
    background-color: black;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.row img{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    
   padding:40px;
   border-top-left-radius: 0px;
   border-top-right-radius: 50%;
   border-bottom-left-radius: 50%;
    

}
.row h1{
    font-style: oblique;
}
.row h2{
    color:black;
    font-style: oblique;
}
.row button{
    padding: 5px;
    text-align: center;
    
    border-radius: 10px;
        height: 40px;
        border: 1px solid white;
        
}
.row .b1
{
    background-color: #667eea; 
    
   

}
.row .b1:hover{
    background-color: black;
     cursor: pointer;
}
.b1{
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}


